<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Title{% endblock %}</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" rel="stylesheet">
    
        

    {% block css_plugins %}{% endblock %}
    <link rel="stylesheet" href="{% static 'web/assets/fonts/icomoon/style.css' %}">
        <link href="{% static 'web/assets/css/fontawesome.min.css" rel="stylesheet' %}" />
    
        <link rel="stylesheet" href="{% static 'web/assets/css/owl.carousel.min.css' %}">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'web/assets/css/bootstrap.min.css' %}">
    
        <link rel="stylesheet" href="{% static 'web/assets/owlcarousel/assets/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'web/assets/owlcarousel/assets/owl.theme.default.min.css' %}">
    
        <!-- Style -->
        <link rel="stylesheet" href="{% static 'web/assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'web/assets/css/docs.theme.min.css' %}">
    
          <!-- javascript -->
      <script src="{% static 'web/assets/vendors/jquery.min.js' %}"></script>
      <script src="{% static 'web/assets/owlcarousel/owl.carousel.js' %}"></script>
    {% block stylesheet %}{% endblock %}
</head>
<body>

    {% include "web/partials/header.html" %}
    {% block content %}

    {% endblock %}
    {% include "web/partials/footer.html" %}

    


    {% block js_plugins %}{% endblock %}
    <script src="{% static 'web/assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'web/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'web/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'web/assets/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'web/assets/js/main.js' %}"></script>
    <script src="{% static 'web/js/script.js' %}"></script>
    {% block javascript %}{% endblock %}
</body>
</html>