{% load static %}
<footer class="footer">
    <div class="footer-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer-content">
                        <h2><a href="">Funtain</a></h2>
                        <p>We are not here to see you product, we sell value through our experice</p>
                        <ul class="footer-social">
                            <li><a href="" class="border-width-2 "><span class="mr-2 icon-facebook"></span></a></li>
                            <li><a href="" class="border-width-2 "><span class="mr-2 icon-twitter"></span></a></li>
                            <li><a href="" class="border-width-2 "><span class="mr-2 icon-instagram"></span></a></li>
                            <li><a href="" class="border-width-2 "><span class="mr-2 icon-linkedin"></span></a></li>                               
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="footer-address">
                        <div class="add">
                            <h4>Address</h4>
                            <p>38 opebi Road, Ikeja, Lagos State, Nigeia.</p>
                        </div>
                        <div class="ph">
                            <h4>Phone:</h4>
                            <p>+2349022396389</p>
                        </div>
                        <div class="ema">
                            <h4>Email:</h4>
                            <p>contact@contentionary.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="nav-list">
                        <h4>Company</h4>
                        <ul>
                            <li><a href="">About</a></li>
                            <li><a href="">Features</a></li>
                            <li><a href="">Pricing</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="subscripe">
                        <form class="newsletter brd-rd30">
                            <input type="email" placeholder="Enter your email address">
                            <button type="submit" class="green-bg theme-btn">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="code">
                        <div class="copycode">
                            <img src="{% static 'web/assets/images/Vector (2).png' %}" alt="">
                            <p class="cod">contentionary</p>
                        </div>
                        <p class="po">Powered By Contentionary</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>